nav {
  /* background-color: red; */
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img-parent img {
  width: 30%;
}

menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

.link-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.link-item:hover {
  padding: 13px 25px;
  background-color: #4d0aa4;
  color: #ffffff;
}
