
nav{
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img-parent img{
    max-width: 30%;
}

menu{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style-type: none;
}

.menu-item{
    font-family: Arial, Helvetica, sans-serif;
}

