.our-values-parent-section {
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  margin: 60px auto 0px auto;
  padding: 40px 0;
}

.our-values-section {
  width: 90%;
  margin: 0 auto;
}

.our-values-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 30px;
  position: relative;
  display: inline-block;
}

.our-values-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ad77ff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.values-parent-list {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.value-card {
  width: 100%;
  padding: 30px;
  margin-top: 30px;
}

.value-icon {
  border-radius: 50%;
  margin-bottom: 8px;
}

.value-title {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0px 0px 15px;
}

.value-text {
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .our-values-title {
    font-size: 1.5rem;
  }

  .values-parent-list {
    grid-template-columns: 1fr;
  }

  .value-title {
    font-size: 1.1rem;
  }
}
